{{#partial "content"}}

    <p>Content:</p>
    <p>Hero details:</p>
    </br>
    </br>
    </br>
    </br>

    <div class="card">
        <div class="card-header">
            {{ squad.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ squad.cause }} </h5>
            <p class="card-text">{{ squad.size }}</p>
<!--            <a href="/squads/{{squad.id}}/update">Edit this post</a>-->
<!--            <a href="/squads/{{squad.id}}/delete">DELETE this post (no undo)</a>-->
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}